<div class="cart {% if cart == empty %} is-empty{% endif %} cart-popup">
    <div class="container rt-container js-cart-container">

                    <div class="cart-warnings text-center rt-pt-80 rt-pb-50">
                        <h1 class="rt-section-title d-block">Your cart is empty</h1>
                        <a href="{{ routes.all_products_collection_url }}" class="rt-btn d-inline-block rt-dark-btn  text-uppercase text-center rt-sm rt-mt-20">Continue shopping</a>
                    </div>
                  
        

                    <div class="cart-title">
                        <h2 class="rt-section-title title--medium">Your Cart</h2>
                        <a href="{{ routes.all_products_collection_url }}" class="cart-shopping-link">Continue Shopping</a>
                    </div>

            
            {% if cart != empty %}
                    <div class="cart-item-container">
                        <form action="{{ routes.cart_url }}" method="post" id="cart"> 
                            <table class="cart-items">
                                <thead>
                                    <tr class="cart-item-header">
                                        <th colspan="2" scope="col">Product</th>
                                        <th class="right medium-hide large-up-hide" colspan="1" scope="col">Total</th>
                                        <th class="small-hide" colspan="1" scope="col">Quantity</th>
                                        <th class="right small-hide" colspan="1" scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for item in cart.items %}
                                        <tr class="cart-item js-cart-line" id="CartItem-{{ item.index | plus: 1 }}" data-key="{{ item.key }}" data-variant="{{ item.variant_id }}" data-index="{{ item.index | plus: 1 }}">
                                            <td class="cart-item-media">
                                                <div>
                                                    <img src="{{ item.image | image_url: width: 150 }}"
                                                        class="cart-item__image"
                                                        alt="{{ item.image.alt | escape }}"
                                                        loading="lazy"
                                                        width="150"
                                                        height="150"
                                                    >
                                                </div>
                                            </td>
                                            <td class="cart-item-details">
                                                <a href="{{ item.url }}" class="cart-item-name">{{ item.product.title | escape }}</a>
                                                <div class="rt-product-option">
                                                    <span class="money">{{ item.original_price | money }}</span>
                                                </div>
                                                <dl>
                                                    {%- if item.product.has_only_default_variant == false -%}
                                                        {%- for option in item.options_with_values -%}
                                                            <div class="rt-product-option">
                                                                <dt>{{ option.name }}: </dt>
                                                                <dd>{{ option.value }}</dd>
                                                            </div>
                                                        {%- endfor -%}
                                                    {%- endif -%}
                                                </dl>
                                            </td>
                                            <td class="cart-item-total right medium-hide large-up-hide">
                                                <div class="loading-overlay js-loading-overlay hidden">
                                                    <div class="loading-overlay__spinner">
                                                        <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="cart-item-price-wrapper">
                                                    <span class="money">{{ item.original_price | money }}</span>
                                                </div>
                                            </td>
                                            <td class="cart-item-quantity">
                                                <div class="d-flex items-center">
                                                    <div class="rt-increment-container">
                                                        <input type="number" name="qty" min="1" max="{{ item.variant.inventory_quantity }}" value="{{ item.quantity }}" class="input-text qty js-cart-qty" />
                                                    </div>
                                                    <a href="{{ item.url_to_remove }}" id="Remove-{{ item.index | plus: 1 }}" class="cart-delete-btn js-cart-popup-delete-btn">
                                                        <svg width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                            <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
                                                            <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="cart-item-total right small-hide">
                                                <div class="loading-overlay js-loading-overlay hidden">
                                                    <div class="loading-overlay__spinner">
                                                        <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="cart-item-price-wrapper">
                                                    <span class="price price--end money">{{ item.original_line_price | money }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </form>
                    </div>
            {% endif %}


                    <div class="cart-footer d-flex justify-end">
                        <div class="cart-block">
                            <div class="cart-result text-right">
                                <div class="cart-totals d-flex justify-end">
                                    <p class="cart-subtotal">Subtotal</p>
                                    <p class="cart-subtotal-value">
                                        <span class="money">{{ cart.total_price | money_with_currency }}</span>
                                    </p>
                                </div>
                                <small class="cart-tax-note d-block text-right">Taxes and shipping calculated at checkout</small>
                            </div>
                            <div class="cart-cta text-right">
                                <button type="submit" id="checkout" name="checkout" form="cart" {% if cart == empty %} disabled{% endif %} class="cart-checkout-btn">Checkout</button>
                            </div>

                            {%- if additional_checkout_buttons -%}
                                <div class="cart-cta">
                                    <div class="text-center">{{ content_for_additional_checkout_buttons }}</div>
                                </div>
                            {%- endif -%}
                        </div>
                    </div>

        
        
    </div>
</div>

{% schema %}
    {
        "name": "Cart",
        "settings": [
            
        ]
    }
{% endschema %}