<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>

<header class="header-area">
  <div class="header-container">
    <div class="header-logo">
      <div class="logo">
        <a href="{{ shop.url }}">
          <img src="{{ section.settings.logo | image_url }}" alt="{{ section.settings.logo_alt }}" width="" height="" loading="lazy">
        </a>
      </div>
    </div>
    <div class="header-menu">
        <ul>
            {% for link in linklists.main-menu.links %}
                <li>{{ link.title | link_to: link.url }}</li> 
            {% endfor %}
        </ul>
    </div>
    <div class="header-logs">
        <ul>
            <li>
                <a href="/account/login" class="account">
                    <img src="{{ 'account.svg' | asset_url }}" alt="account" width="" height="" loading="lazy">
                </a>
            </li>
            <li>
                <a href="#" class="search-btn">
                    <img src="{{ 'search.svg' | asset_url }}" alt="search" width="" height="" loading="lazy">
                </a>
            </li>
            <li>
                <a href="#" class="wishlist">
                    <img src="{{ 'heart.svg' | asset_url }}" alt="wishlist" width="" height="" loading="lazy">
                </a>
            </li>
            <li>
                {% if settings.ajax_add_to_cart %}
                    <a href="#cart" class="cart js-header-cart-btn">
                        <img src="{{ 'cart.svg' | asset_url }}" alt="cart" width="" height="" loading="lazy">
                    </a>
                {% else %}
                    <a href="{{ routes.cart_url }}" class="cart">
                        <img src="{{ 'cart.svg' | asset_url }}" alt="cart" width="" height="" loading="lazy">
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="search-area">
        <predictive-search>
            <form action="{{ routes.search_url }}" method="get" role="search">
                <div class="search-from-area">
                    <label for="Search">Search</label>
                    <input
                        id="Search"
                        type="search"
                        name="q"
                        value="{{ search.terms | escape }}"
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results"
                        aria-controls="predictive-search-results"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                    >
                    <input name="options[prefix]" type="hidden" value="last">
                    <div id="predictive-search" tabindex="-1"></div>
                </div>
                <div class="search-close-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </form>
        </predictive-search>
    </div>
  </div>
</header>

{% schema %}
    {
        "name": "Header Area",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "text",
                "id": "logo_alt",
                "label": "Logo Alter Text",
                "default": "Furniro"
            }
        ]
    }
{% endschema %}

